<!DOCTYPE html>

<html>

<head>
    <title>Hostel Reviews</title>
    <link rel="icon" href="./img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Review Searcher</p>
    
        <form>
            <input placeholder="URL of Hostelworld Hostel">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <ul id="reviewList"></ul>
        <p id="message-2"></p>

    </div>
    
    {{>footer}}


    <script src = "/js/app.js"></script>
</body>

</html>